
{{ define "main" }}

<h2>{{ .Title }}</h2>
<p class="text-muted">Published: {{ .Date.Format "2006-01-02"}}</p>

<figure class="figure w-50">
  <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" class="img-news-banner img-thumbnail">
  <figcaption class="figure-caption mt-1"><i>{{ .Params.banner_caption | markdownify }}</i></figcaption>
</figure>

{{ .Content }}

<hr>
<h6><a href="{{ .Parent.RelPermalink }}"><i class="bi bi-arrow-left-circle-fill"></i> Back to all Portal news</a></h5>

{{ end }}
