{{ $dashboards := .Site.Menus.dashboards }}
{{ $dashboards_to_show := slice }}

{{ if .IsHome }}
    {{ $dashboards_to_show = $dashboards_to_show | append (first 3 $dashboards) }}
{{ else }}
    {{ $dashboards_to_show = $dashboards_to_show | append $dashboards }}
{{ end }}

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2 {{ if not .IsHome }}g-lg-3{{ end }}">
    {{ range $dashboards_to_show }}
        <div class="col p-2">
            <div class="bg-dashboard">
                <div aria-hidden="true">
                    <a href="{{ .Page.RelPermalink }}">
                        <img class="img-fluid" src="{{ .Page.Params.thumbnail }}"
                            alt="Thumbnail for {{ .Name }}">
                    </a>
                </div>
                <div class="p-2 bg-dashboard-title">
                    <h6 class="mt-1"><a href="{{ .Page.RelPermalink }}">{{ .Name }}</a></h6>
                </div>
                <div class="p-2">
                    {{ .Page.Description }}
                </div>
            </div>
        </div>
    {{ end }}
</div>
